body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
}
.name-h {
  color: orange;
}
.half-width {
  width: 35%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top {
  background-image: url("img/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(0, 185, 0), lightgreen);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.dream {
  font-size: 40px;
}
.top2 {
  background-image: url("img/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.link-button2 {
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(0, 185, 0), lightgreen);
  padding: 10px 22px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.orange {
  color: orange;
}
.exp-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 80px;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.single-exp {
  box-shadow: 10px 10px 40px gray;
  height: 80%;
  border-radius: 5px;
}
#fullstack {
  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
  background-color: white;
}
#halfstack {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer {
  color: black;
  text-align: center;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 300px;
}
p {
  font-family: "Montserrat", sans-serif;
}
#social ul {
  padding: 0;
  list-style: none;
  padding: 15px;
}
#social a {
  align-items: center;
}
#social li {
  display: inline;
}
#social {
  text-align: center;
  padding-bottom: 0;

  height: 550px;
  margin-bottom: 100px;
}
#social h1 {
  font-size: 40px;
  color: orange;
  padding-top: 10px;
  padding-bottom: 0;
}
.fun h1 {
  text-align: center;
}
.skill {
  float: left;
  width: 38%;
  text-align: center;
  padding: 5%;

  margin: 10px;

  border-left: 7px solid;
  border-image: linear-gradient(lightsalmon, tomato);
  border-image-slice: 1;
  background-color: white;
  box-shadow: 10px 10px 40px gray;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: vw;
  }
  h3 {
    font-size: 4vw;
  }
  p {
    font-size: 3vw;
  }
  .link-button {
    padding: 1vw;
    font-size: 3vw;
  }
  .dream {
    font-size: 7vw;
  }
  .link-button2 {
    padding: 2vw;
    font-size: 2vw;
  }
  .top2 {
    background-size: 15vw;
  }

  .single-exp {
    height: 90%;
  }
  .top2 {
    padding-bottom: 2px;
  }
  #social h1 {
    font-size: 5vw;
  }
  #social {
    height: 200px;
    padding-bottom: -250px;
  }
  .skill {
    width: 35%;
    margin: 5px;
  }
}
